<br/>

<div [ngStyle]="{textAlign: 'center'}">
  <h3> How to meet new people? Watch me! </h3>
    <script>
            var elem = document.getElementById('myCanvas');
            var ctx = elem.getContext('2d');
            ctx.font = '60px "Segoe UI" bold';
            ctx.strokeText("How to meet new people? watch me", 0, 160);
             ctx.restore();
    </script>
      <body [ngStyle]="{textAlign: 'center'}">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/rb0G0Uw-2Q8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </body>
 </div>




<div class="newspaper" [ngStyle]="{textAlign: 'center'}">
  <h2>Listen, Young Freelancer! A Freelancer's Guide To Protection From Frauds</h2>
  <body>
  Freelancing is an awesome way of life. That is not because it helps you gain some extra income. Once well-established, it may even help you make a living. You work according to your own schedule at home, even without leaving the bed. You describe your income rates per task. You have the chance of testing your skills that you cannot during your regular working hours. It helps you build your self confidence and fight stress.

  As this easily whets your appetite, you register to a freelancing site such as freelancer.com and build a profile. You even obtain a couple of certificates and start bidding for projects. However, after a time as a fresh freelancer, you begin to feel upset, and later even frustrated. That is because, the seniors who already have established their businesses here take almost every good project. The clients are overwhelmed by their profiles including a great set of level three certificates and a horde of damn-good reviews accompanied by five stars. The remaining jobs are either taken by other freelancers, or offer too little income for too much work. No need to mention about disencouraging job posts with “US freelancers only”, or “No Indians, please” in the title.

  And then you receive a message from a client whose project you have just bidden. Gosh! Could it be your first assignment? Could it be the moment that helps you change the history? You dream of gaining income and buying more certificates, and obtaining a horde of damn-good reviews with five stars. You immediately reply the message. However, the client behaves differently than you expect.

  Days later, you are much more exhausted than you ever have felt. You have been abused and thrown away like a tissue. This was a swindler, and simply used your hope for gaining extra money. You realize that you have made yourself a slave for a so-called client; just as the slave owners once forced people to work on plantations and sold the crops to make money, this swindler used your appetite for money like a whiplash to sell your work.
  </body>
</div>


<div class="transition">
  <div> <b>Freelancer, Join us and meet people with the same interest like yours!!</b></div>
</div>



<div>
  <footer>
    <p></p>
    <p>Posted by: Inbar-Nitzan Corporation</p>
    <p>Contact information: <a href="mailto:someone@example.com">Inbar-Nitzan@example.com</a>.</p>
  </footer>


</div>



