<div class="myTable rounded-lg"  [ngStyle]="{textAlign: 'center'}" *ngIf="auth.isLoggedIn()">
  <div class="display-3"> Current Forum: {{currentForumName}} </div>
  <br/><br/>
  <button class="btn btn-primary" id="createPostBtn" routerLink="/posts/create"> New Post </button>
  <br/><br/>
  <button class="btn btn-primary" id="returnToForumsBtn" routerLink="/forums"> Back to Forums </button>
  <br/><br/>
  <button class="btn btn-primary" id="openSearchPostBtn" (click)="showSearchFormFunc()"> Search Posts </button>
  <br/><br/>
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <div id="searchForm" *ngIf="showSearchForm" [ngStyle]="{textAlign: 'center', width: '350px'}">
        <form name="form" class="loginForm" (ngSubmit)="searchPost()" #f="ngForm" novalidate>
          <div class="form-group">
            <label>Post Title</label>
            <input class="form-control" type="text" name="postTitle" [(ngModel)]="post.postTitle" required>
          </div>
          <div class="form-group">
            <label>Post Id</label>
            <input class="form-control" type="text" name="postId" [(ngModel)]="post.postId" required>
          </div>
          <div class="form-group">
            <label>Post Location</label>
            <input class="form-control" type="text" name="postLocation" [(ngModel)]="post.postLocation" required>
          </div>
          <br/>
          <p [ngStyle]="{color: 'red'}"> {{errorMessage}}</p>
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <button class="btn btn-primary" (click)="cancelSearch()">Cancel</button>
      </div>
    </div>
  </div>
  <br/><br/>

  <table class="table table-hover shadow-lg rounded-lg" id="myPostsTable">
    <thead class="thead-dark">
    <tr>
      <th class="width-sm">
        Post Title
      </th>
      <th class="width-sm">
        Post Subject
      </th>
      <th class="width-sm">
        Post Id
      </th>
      <th class="width-sm">
        Forum Name
      </th>
      <th class="width-sm">
        Post Location
      </th>
      <th class="width-sm">
        Post Participants
      </th>
      <th class="width-sm">
        Actions
      </th>
    </tr>
    </thead>
    <tbody id="myTablePostsD">
    </tbody>
  </table>
</div>
<div *ngIf="!auth.isLoggedIn()">
  <br/>
  <div class="display-4" [ngStyle]="{color:'red', textAlign:'center'}"> Not Logged In! </div>
</div>



