<div class="myTable rounded-lg" *ngIf="auth.isLoggedIn()">
  <table class="table table-hover shadow-lg rounded-lg" id="myTable">
    <thead class="thead-dark">
    <tr>
      <th class="width-sm">
        Full Name
      </th>
      <th class="width-sm">
        Email
      </th>
      <th class="width-sm">
        City
      </th>
      <th class="width-sm">
        Profession
      </th>
    </tr>
    </thead>
    <tbody id="myTableD">
    </tbody>
  </table>
</div>
<div *ngIf="!auth.isLoggedIn()">
  <br/>
  <div class="display-4" [ngStyle]="{color:'red', textAlign:'center'}"> Not Logged In! </div>
</div>
